{% extends 'base.html' %}
{% load static %}

{% block titulo %} Cadastrar Produto {% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'assets/css/painel.css' %}" />
{% endblock %}

{% block conteudo %}
<main class="form-container">

  <div class="form-header">
    <h1>Cadastrar / Editar Produto</h1>
  </div>

  {% include 'mensagens.html' %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group">
      <label>Nome</label>
      {{ form.nome }}
    </div>

    <div class="input-group">
      <label>Descrição</label>
      {{ form.descricao }}
    </div>

    <div class="input-group">
      <label>Preço</label>
      {{ form.preco }}
    </div>

    <div class="input-group">
      <label>Estoque</label>
      {{ form.estoque }}
    </div>

    <div class="input-group">
      <label>Imagem (recomendado: quadrada, fundo branco, máx. 2MB)</label>
      {{ form.imagem }}
      {% if form.imagem.errors %}
        <span style="color:#f87171; font-size: 13px;">{{ form.imagem.errors|join:", " }}</span>
      {% endif %}
    </div>

    <button type="submit" class="btn-submit">Salvar Produto</button>
  </form>

</main>
{% endblock %}