{% extends 'base.html' %}
{% load static %}

{% block titulo %}Cadastro{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'assets/css/carrinho.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/carrinho.js' %}"></script>
{% endblock %}


{% block conteudo %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Carrinho</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=" {% static 'carrinho.css'%}">
  <script src=" {% static 'carrinho.js' %}" defer></script>
</head>

<body>
  <div class="pagina-carrinho">
    <h2>Carrinho</h2>

    <div class="layout">
      <div class="lista-produtos" id="lista-carrinho"></div>

      <div class="resumo">
        <h3>Resumo</h3>

        <div class="linha">
          <span>Produtos</span>
          <span id="subtotal">R$ 0,00</span>
        </div>

        <div class="linha desconto">
          <span>Desconto</span>
          <span>R$ 0,00</span>
        </div>

        <div class="linha total">
          <span>Total</span>
          <span id="total">R$ 0,00</span>
        </div>

        <button class="btn-continuar" onclick="irParaEntrega()">Continuar</button>
        <a href="catalogo.html" class="voltar">Buscar mais produtos</a>
      </div>
    </div>
  </div>

</body>
</html>
{% endblock %}