<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Carrinho</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="carrinho.css">
  <script src="carrinho.js" defer></script>
</head>

<body>

  <header class="topo">
      <div class="logo-header">AURA</div>
  
      <nav class="links-header">
        <a href="../PG_1_Denilson/siteesportes.html">Página inicial</a>
        <a href="../PG_2_Pedro_Neto/siteesportes.html">Produtos</a>
        <a href="carrinho.html">Carrinho</a>
        <a href="#">Recursos</a>
        <a href="#">Preços</a>
        <a href="#">Contato</a>
      </nav>
  
      <div class="botoes-login">
        <a href="../PG_4_Joao_Guilherme/login.html" class="entrar">Entrar</a>
        <a href="../PG_5_Samuel/index.html" class="registrar">Registrar</a>
      </div>
    </header>

  <div class="pagina-carrinho">
    <h2>Carrinho</h2>

    <div class="layout">
      <div class="lista-produtos" id="lista-carrinho"></div>

      <div class="resumo">
        <h3>Resumo</h3>

        <div class="linha">
          <span>Produtos</span>
          <span id="subtotal">R$ 0,00</span>
        </div>

        <div class="linha desconto">
          <span>Desconto</span>
          <span>R$ 0,00</span>
        </div>

        <div class="linha total">
          <span>Total</span>
          <span id="total">R$ 0,00</span>
        </div>

        <button class="btn-continuar" onclick="irParaEntrega()">Continuar</button>
        <a href="../PG_2_Pedro_Neto/siteesportes.html" class="voltar">Buscar mais produtos</a>
      </div>
    </div>
  </div>

</body>

</html>