{%extends 'base.html'%}

{% load static%}

{%block titulo%} catalogo {%endblock%}

{% block estilo %}
<link rel="stylesheet" href="{% static 'assets/css/catalogo.css' %}" /> {% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/catalogo.js' %}"></script> {% endblock %}



{%block conteudo%}

<main class="catalogo">
  <h1>Catálogo de Produtos</h1>
  <input type="text" id="campoBusca" placeholder="Barra de pesquisa">
  <div class="card-grid" id="lista">
    {% for produto in produtos %}
    <a href="{% url 'produto_detalhe' produto.id %}" class="card-link" id="{{ produto.nome }}">
      <br>
      <br>
      <div class="card">
        <div class="card-img">
          {% if produto.imagem %}
          <img src="{{ produto.imagem.url }}">
          {% endif %} <span class="badge">-30% OFF</span>
        </div>
        <h3 id="nome">{{ produto.nome }}</h3>
        <!-- <div class="stars">★★★★★</div> -->
        <div class="prices">
          <!-- <span class="old">R$ 210,00</span> -->
          <span class="new">R$ {{ produto.preco }}</span>
        </div>
        <span class="frete">Frete grátis disponível</span>
      </div>
    </a>
    {% endfor %}
  </div>

</main>

{%endblock%}