<footer class="footer">

  <div class="footer-container">
    <!-- SOBRE -->
    <div class="footer-section">

      <h2 class="footer-logo">
        Aura
      </h2>
      <p>
        Plataforma desenvolvida como projeto acadêmico
        por alunos do IFRN Campus Canguaretama.
      </p>
      <p>
        Interface moderna focada em acessibilidade,
        organização e experiência do usuário.
      </p>

    </div>

    <!-- NAVEGAÇÃO -->
    <div class="footer-section">

      <h3>
        Navegação
      </h3>

      <a href="{% url 'inicial' %}">
        Página Inicial
      </a>

      <a href="{% url 'login' %}">
        Entrar
      </a>

      <a href="{% url 'cadastro' %}">
        Cadastro
      </a>

      <a href="{% url 'painel' %}">
        Perfil
      </a>

    </div>

    <!-- INSTITUIÇÃO -->
    <div class="footer-section">

      <h3>
        Instituição
      </h3>

      <p>
        Instituto Federal do Rio Grande do Norte
      </p>

      <p>
        Campus Canguaretama
      </p>

      <p>
        Projeto acadêmico sem fins comerciais.
      </p>

    </div>

  </div>

  <!-- PARTE INFERIOR -->
  <div class="footer-bottom">

    © 2026 Aura — Desenvolvido por alunos do IFRN Campus Canguaretama.

  </div>

</footer>